<!DOCTYPE html>
<html>
    <head>
        <title>CNFUYU</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="robots" content="all">
        <meta name="Author" content="cnfuyu<cnfuyu@gmail.com>">
        <meta name="Keywords" content="blog, python, flask, markdown">
        <meta name="Description" content="CNFUYU's blog.">
        <link rel="stylesheet" href="/static/css/style_index.css" type="text/css" media="screen">
        <script type="text/javascript" src="/static/js/google_analytics.js"></script>
    </head>
    <body>
        <div id="container" >
           <div>
               <h1 class="site-url"><a href="#">cnfuyu.net</a></h1>
           </div>
           <div id="about">
               <h2>About</h2>
               <p>I am cnfuyu. Welcome to my web site.</p>
               <p>Currently I'm majoring in Electronics and Information Engineering at Huazhong University of Science and Technology of China.</p>
               <p>More:</p>
               <ul>
                    <li><a href="/resume">Résumé</a></li>
                    <li><a href="/blog/home">Blog</a></li>
               </ul>
           </div>
           <div id="project">
               <h2>Projects</h2>
               <ul>
                    <li><a href="https://github.com/cnfuyu/cnfuyu-blog">cnfuyu-blog</a></li>
               </ul>
           </div>
           <div id="links">
               <h2>Links</h2> 
               <a target="_black" href="https://github.com/cnfuyu"><img src="/static/images/icons/color/github.png" width="40" height="40"></a>
               <a target="_black" href="https://www.facebook.com/cnfuyu"><img src="/static/images/icons/color/facebook.png" width="40" height="40"></a>
               <a target="_black" href="https://twitter.com/cnfuyu"><img src="/static/images/icons/color/twitter.png" width="40" height="40"></a>
               <a target="_black" href="http://weibo.com/cnfuyu"><img src="/static/images/icons/color/weibo.png" width="40" height="40"></a>
           </div>
        </div>
   </body>
</html>
