{% macro gen_article(_article) -%}
    <article>
        <div class="entry-header">
            <h1 class="entry-title"><a href="/blog/article/{{ _article["name"] }}">{{ _article["title"] }}</a></h1>
            <div class="entry-meta">
                <span>Posted on <time class="entry-data">{{ _article["date"] }}</time></span>
            </div>
        </div>
        
        <div class="entry-content">
            {{ _article["content"] | safe }}
        </div>
    </article>
{%- endmacro %}

{% macro gen_comment() -%}
    <div class="comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'cnfuyu';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
{%- endmacro %}
