<!DOCTYPE html>
<html>
    <head>
        <title>CNFUYU</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="robots" content="all">
        <meta name="Author" content="cnfuyu<cnfuyu@gmail.com>">
        <meta name="Keywords" content="blog, python, flask, markdown">
        <meta name="Description" content="CNFUYU's blog.">
        <link rel="stylesheet" href="/static/css/style_index.css" type="text/css" media="screen">
        <script type="text/javascript" src="/static/js/google_analytics.js"></script>
    </head>
    <body>
        <div id="container" >
           <div>
               <h1 class="site-url"><a href="#">Résumé</a></h1>
           </div>
           <div id="education">
               <h2>Education</h2>
               <ul>
                   <li>Huazhong University of Science and Technology, Wuhan, China.(2011 - 2015)</li>
                   <li>Majoring in Electronics and Information Engineering.</li>
                   <li>A member in SeedClass.</li>
               </ul>
           </div>
           <div id="itskills">
                <h2>IT Skills</h2>
                <ul>
                    <li>Python, C/C++</li>
                    <li>Linux(ubuntu)</li>
                    <li>svn, git</li>
                    <li>MySQL</li>
                    <li>AWS(IAAS)</li>
                    <li>Nginx, uWSGI, flask, tornado</li>
                    <li>VIM</li>
                    <li>HTML, CSS, JS</li>
                </ul>
           </div>
           <div id="practical">
               <h2>Practical Experience</h2>
               <ul>
                   <li>
                        <p><strong>Mobile Development Team in Dian Group</strong>(August 2014 - )</p>
                        <p>Python Back-end Development</p>
                   </li>
                   <li>
                        <p><strong>Pinssible</strong>(December 2012 - July 2014)</p>
                        <p>Python Back-end Development Engineer Intern</p>
                   </li>
                   <li>
                        <p><strong>The project cooperated between Dian Group and Norway Integrasco As.</strong>(June 2012 - December 2012)</p>
                        <p>Develop the script for grab different forums through parsing XML with XQuery.</p>
                   </li>  
               </ul>
           <div id="opensource">
               <h2>Open Source Development</h2>
               <ul>
                    <li>
                        <p><a href="https://github.com/cnfuyu/cnfuyu-blog"><strong>cnfuyu-blog</strong></a>(A lightweight blog.)</p>
                    </li>
               </ul>
           </div>
           <div id="patents">
                <h2>Patents</h2>
                <ul>
                    <li>
                        <p>201310616592.5（一种多功能演示笔数据传输方法及产品 审中-实审）</p>
                    </li>
                    <li>
                        <p>201320764252.2（一种多功能演示笔 有权）</p>
                    </li>
                </ul>
           </div>
        </div>
   </body>
</html>
