<!DOCTYPE html>
<html>
    <head>
        <title>CNFUYU</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="robots" content="all">
        <meta name="Author" content="cnfuyu<cnfuyu@gmail.com>">
        <meta name="Keywords" content="blog, python, flask, markdown">
        <meta name="Description" content="CNFUYU's blog.">
        <link rel="stylesheet" href="/static/css/style_index.css" type="text/css" media="screen">
        <script type="text/javascript" src="/static/js/google_analytics.js"></script>
    </head>
    <body>
        <div id="container" >
           <div>
               <h1 class="site-url"><a href="#">Résumé</a></h1>
           </div>
           <div id="education">
               <h2>Education</h2>
               <ul>
                   <li>Huazhong University of Science and Technology, Wuhan, China.(2011 - 2015)</li>
                   <li>Majoring in Electronics and Information Engineering.</li>
                   <li>A member in SeedClass.</li>
               </ul>
           </div>
           <div id="practical">
               <h2>Practical Experience</h2>
               <ul>
                   <li>
                        <p><strong>Pinssible</strong>(December 2012 - )</p>
                        <p>Software Engineer Intern</p>
                   </li>
               </ul>
           <div id="opensource">
               <h2>Open Source Development</h2>
               <ul>
                    <li>
                        <p><a href="https://github.com/cnfuyu/cnfuyu-blog"><strong>cnfuyu-blog</strong></a>(A lightweight blog.)</p>
                    </li>
               </ul>
           </div>
        </div>
   </body>
</html>
